<!DOCTYPE html>
<html>
	<head>
		<title>About Page</title>
	</head>
	<body style="background:green;">
		<header style="margin-left:10px;margin-right:5px;padding:10px;background:grey;text-align:center">
			About Us
		</header>
		<aside style="margin-top:10px">
				<%= link_to 'Home', root_path %>	
		</aside>
		<section style="margin-top:10px">
			You are free to blog here. Put your thoughts in a blog.		
		</section>
		<footer style="background:orange;color:white;text-align:center;margin-top:35%;">
			Copyright of Rohit
		</footer>
	</body>
</html>